<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant recommendation service</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        // Pass the preference mode from Flask to JavaScript
        window.PREFERENCE_MODE = "{{ preference_mode }}";
        window.onload = function() {
            const body = document.body;
            if (window.PREFERENCE_MODE === "no_pref") {
                body.style.backgroundColor = "hsl(0, 100%, 90%)";  // Pastel Red
            } else {
                body.style.backgroundColor = "hsl(210, 100%, 90%)";  // Pastel Blue
            }
        };
    </script>
</head>
<body>
    <div class="messages" id="messages"></div>
    <div class="input-container">
        <input type="text" class="user-input" id="userInput" placeholder="Type your message here..." disabled>
        <button class="submit-btn" onclick="sendMessage()">Send</button>
        <button class="start-btn" onclick="startConversation()">Start Conversation</button>
        <button class="reset-btn" onclick="resetConversation()">Reset Conversation</button>
        <button class="end-btn" onclick="endConversation()">End Conversation</button>
    </div>
    <div class="explanation">
        
        <p><b>Instructions: </b>You can use this chatbot to suggest a restaurant. Tell the bot your preferences and it will help you out</p>
        <p><b>Possible locations: </b> North, East, West, South</p>
        <p><b>Possible price points: </b>Cheap, Moderate, Expensive</p>
        <p><b>Possible cuisines:</b> british, modern european, italian, romanian, seafood, chinese, steakhouse, asian oriental, french, portuguese, indian, spanish, european, vietnamese, korean, thai, moroccan, swiss, fusion, gastropub, tuscan, international, traditional, mediterranean, polynesian, african, turkish, bistro, north american, australasian, persian, jamaican, lebanese, cuban, japanese, catalan</p>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

