absl-py==2.1.0
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1710965072196/work
archspec @ file:///croot/archspec_1709217642129/work
attrs==23.2.0
Automat==22.10.0
avro==1.12.0
bleach==6.1.0
boltons @ file:///work/perseverance-python-buildout/croot/boltons_1698851177130/work
Brotli @ file:///croot/brotli-split_1714483155106/work
build==1.2.2
CacheControl==0.14.0
category-encoders==2.6.3
certifi @ file:///croot/certifi_1717618050233/work/certifi
cffi @ file:///croot/cffi_1714483155441/work
cfgv==3.4.0
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cleo==2.1.0
conda @ file:///croot/conda_1715635703388/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1706733287605/work/src
conda-package-handling @ file:///croot/conda-package-handling_1718138267740/work
conda_package_streaming @ file:///croot/conda-package-streaming_1718136078615/work
confluent-kafka==2.5.3
constantly==23.10.4
contourpy==1.2.1
crashtest==0.4.1
cryptography @ file:///croot/cryptography_1714660666131/work
cssselect==1.2.0
cycler==0.12.1
defusedxml==0.7.1
distlib==0.3.8
distro @ file:///croot/distro_1714488253808/work
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.15.4
fonttools==4.53.1
frozendict @ file:///croot/frozendict_1713194832637/work
geographiclib==2.0
geopy==2.4.1
greenlet==3.0.3
h5py==3.11.0
hyperlink==21.0.0
identify==2.6.1
idna @ file:///croot/idna_1714398848350/work
incremental==22.10.0
installer==0.7.0
itemadapter==0.9.0
itemloaders==1.3.1
jaraco.classes==3.4.0
jeepney==0.8.0
jmespath==1.0.1
joblib==1.4.2
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
kaggle==1.6.17
keras==3.5.0
keyring==24.3.1
kiwisolver==1.4.5
libmambapy @ file:///croot/mamba-split_1714483352891/work/libmambapy
lxml==5.2.2
markdown-it-py==3.0.0
matplotlib==3.9.1
mdurl==0.1.2
menuinst @ file:///croot/menuinst_1718132535249/work
ml_dtypes==0.5.0
more-itertools==10.5.0
msgpack==1.0.8
namex==0.0.8
nodeenv==1.9.1
numpy==2.0.1
optree==0.12.1
packaging @ file:///croot/packaging_1710807400464/work
pandas==2.2.2
parsel==1.9.1
patsy==0.5.6
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.1
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
pluggy @ file:///work/perseverance-python-buildout/croot/pluggy_1698805497733/work
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
pre-commit==3.8.0
Protego==0.3.1
ptyprocess==0.7.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycosat @ file:///croot/pycosat_1714510623388/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyDispatcher==2.0.7
Pygments==2.18.0
pynvim==0.5.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyproject_hooks==1.1.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.1
PyYAML==6.0.2
queuelib==1.7.0
rapidfuzz==3.9.7
requests @ file:///croot/requests_1716902831423/work
requests-file==2.1.0
requests-toolbelt==1.0.0
rich==13.8.1
ruamel.yaml @ file:///work/perseverance-python-buildout/croot/ruamel.yaml_1698863605521/work
scikit-learn==1.5.1
scipy==1.14.0
Scrapy==2.11.2
SecretStorage==3.3.3
service-identity==24.1.0
setuptools==69.5.1
shellingham==1.5.4
six==1.16.0
statsmodels==0.14.2
text-unidecode==1.3
threadpoolctl==3.5.0
tldextract==5.1.2
tomlkit==0.13.2
tqdm @ file:///croot/tqdm_1716395931952/work
trove-classifiers==2024.9.12
truststore @ file:///work/perseverance-python-buildout/croot/truststore_1701735771625/work
Twisted==24.3.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3 @ file:///croot/urllib3_1718912636303/work
virtualenv==20.26.4
w3lib==2.2.1
webencodings==0.5.1
wheel==0.43.0
zope.interface==6.4.post2
zstandard @ file:///croot/zstandard_1714677652653/work
